<% include ../partials/header %>

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <p class="lead">CalU Book Exchange</p>
        <div class="list-group">
            <li class="list-group-item"><a href="/books">Back to Books</a></li>
            <li class="list-group-item"><a href="/users/<%= book.author.id %>">Seller Feedback</a></li>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <div class="thumbnail">
            <img class="image-responsive" src="<%= book.image %>">
            <div class="caption-full">
                <h4 class="pull-right">Price: $<%= book.price %></h4>
                <h4><strong>Title: </strong><%= book.name %></h4>
                <p>
                    <em>Sold by: <a href="/users/<%= book.author.id %>"><%= book.author.username %></a></em>
                </p>
                <p><em>ISBN: </em><%= book.isbn %></p>
                <p><em>Description: </em><%= book.description %></p>
                <% if(currentUser && book.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                    <a class="btn btn-xs btn-warning" href="/books/<%= book._id %>/edit">Edit Book</a>
                    <form id="delete-form" action="/campgrounds/<%= book._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete Book</button>
                    </form>
                <% } %>
                <% if((currentUser && !book.author.id.equals(currentUser._id))) { %>
                    <a class="btn btn-success" href="#">Buy Book</a>
                <% } %>
            </div>
        </div>
    </div>
    <!--well goes here-->
</div>
<% include ../partials/footer %>